@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.header {
	overflow: hidden;
	width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
	padding: 10px 0;
	position: fixed;
    background-color:  #003acf;
    color: white;
}
.header__left {
	font-family: 'Pacifico', cursive;
	flex: 0.3;
	display: flex;
	align-items: center;
	margin-left: 20px;
}
.header__left > h1 {
	font-size: 25px;
}

.cmlogo {
	padding-right: 15px;
	height: 30px;
	object-fit: contain;
}

.header__right{
	flex:0.3;
	display: flex;
	align-items: flex-end;
}

.header__avatar {
	margin-left: auto;
	margin-right: 20px;
}