.sidebar {
	margin-top: 64px;;
	position: fixed;
	height: 700px;
	background-color:  #003acf;
	border-top: 1px solid #110038;
	max-width: 180px;
	color: white;
	overflow-y: auto;
}

.sidebar::-webkit-scrollbar{
	width: 1em;
}
.sidebar__header {
	
display: flex;
align-items: center;
border-bottom: 1px solid #110038;
padding: 13px;
}
.sidebar__header > h3{
	margin-right: 2px;
}

.sidebar__info {
	flex: 1;
}

.sidebar__info > h2 {
	font-size: 15px;
	font-weight: 900;
	margin-bottom: 5px;
}

.sidebar__info > h3 {
	display: flex;
	align-items: center;
	font-size: 13px;
	font-weight: 400;
}

.sidebar__info > h3 > .MuiSvgIcon-root {
	font-size: 14px;
	margin-top: 1px;
	margin-right: 2px;
	color: green;
}

.sidebar__header > .MuiSvgIcon-root{
	padding: 8px;
	color: #49274b;
	font-size: 18px;
	background-color: white;
	border-radius: 999px;
}

.add {
	background-color: #ffa826;
	color: white;
}